<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:lang="${#locale}">
<head>
    <title th:text="#{application.title}">Toolr</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>

<div th:replace="fragments/header :: header">
</div>

<br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">AI Chat</div>
                <div class="panel-body"><a th:href="@{/chat.html}">Open Chat Example</a>
                    <br>
                    Example chat with API.AI tool.
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Toolr Copyright</p>
</footer>

</body>
</html>
